.navgap {
    gap: 3rem;

}

.custom_navbar {
    max-width: 900px;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nav_color {
    background-color: #1A0A6C;
}



.nav_text {
    text-decoration: none;
    color: #FDD76E;
}

.f_radius {
    border-radius: 10px;
}
